@charset "UTF-8";

body{
    background-color: aqua; text-align: justify; font-family: 'Times New Roman', Times, serif;
}
h1{
    background-color: blue; color: aliceblue;
}
h2{
    background-color: blue; color: aliceblue;
}
p{
    color: blue;
}